@{
    ViewData["Title"] = "Delete UniteEnseignement";
}
<h1>Delete UniteEnseignement</h1>
<form asp-action="Delete" method="post">
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>