@{
    ViewData["Title"] = "Delete Option d\'étude";
}
<h1>Delete Option d'étude</h1>
<form asp-action="Delete" method="post">
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>