@model Administrateur

@{
    ViewData["Title"] = "Edit Administrateur";
}

<h1>Edit Administrateur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="NomAdmin" class="control-label"></label>
                <input asp-for="NomAdmin" class="form-control" />
                <span asp-validation-for="NomAdmin" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PrenomAdmin" class="control-label"></label>
                <input asp-for="PrenomAdmin" class="form-control" />
                <span asp-validation-for="PrenomAdmin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}