@{
    ViewData["Title"] = "HistoriqueSemestreEtudiant Details";
}
<h1>HistoriqueSemestreEtudiant Details</h1>
<p>Placeholder details for `HistoriqueSemestreEtudiant`.</p>
<p><a asp-action="Index">Back to List</a></p>